name: Deploy
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - run: az container create --resource-group didapod-v1_group --name didapod-final-app --image midictaicontainer.azurecr.io/didapod:latest --dns-name-label didapod-final-2026-v2 --ports 80 --registry-login-server midictaicontainer.azurecr.io --registry-username midictaicontainer --registry-password ${{ secrets.ACR_PASSWORD }} --os-type Linux --cpu 1 --memory 1.5
