name: Deploy
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - run: az container create --resource-group didapod --name didapod-final-app --image midictaicontainer.azurecr.io/didapod:latest --dns-name-label didapod-final-2026 --ports 80 --registry-username midictaicontainer--registry-password 9Vurt983vDBLkflxMkxINCvpNa56eGTtYFCXIYyLtD4PwxHcoDtnJQQJ99CBACYeBjFEqg7NAAACAZCRnjFQ${{ secrets.ACR_PASSWORD }}
