    steps:
      - uses: actions/checkout@v2
      
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - run: az container create --resource-group didapod-resources --name didapod-final-app-image --image didapodacr.azurecr.io/didapod:latest --dns-name-label didapod-app --ports 80

