name: Deploy
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - run: - name: Deploy to Azure Container Instances
        run: |
          - name: Deploy to Azure Container Instances
        run: 
          az container delete --name didactaicontain --resource-group didapod --yes
          az container create
            --resource-group didapod
            --name didactaicontain
            --image didactaicontain.azurecr.io/didactapod:latest
            --dns-name-label didapod-final-2026
            --ports 80
            --cpu 1
            --memory 1.5
            --registry-login-server didactaicontain.azurecr.io
            --registry-username ${{ secrets.AZURE_CLIENT_ID }}
            --registry-password ${{ secrets.AZURE_CLIENT_SECRET }}
            --location eastus
