name: Deploy
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: 'Login to Azure'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'Force New Deploy'
        run: |
          az container create \
            --resource-group didapod \
            --name didapod-v3-app \
            --image midictaicontainer.azurecr.io/didapod:latest \
            --dns-name-label didapod-v3-2026 \
            --ports 80 \
            --registry-username midictaicontainer \
            --registry-password 9Vurt983vDBLkflxMkxINCvpNa56eGTtYFCXIYyLtD4PwxHcoDtnJQQJ99CBACYeBjFEqg7NAAACAZCRnjFQ \
            --os-type Linux \
            --cpu 1 \
            --memory 1.5
